.style_instructions__XmsnU .style_container__uWUWn {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

.style_instructions__XmsnU .style_container__uWUWn .style_para___o0ZD {
    display: flex;
    color: #c1cade;
    max-width: calc(var(--1)*750);
    margin-inline:auto;text-align: center
}

@media(min-width: 991.98px) {
    .style_instructions__XmsnU .style_container__uWUWn {
        gap:calc(var(--1)*80)
    }
}

.style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK {
    display: grid;
    gap: calc(var(--1)*20)
}

.style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK .style_card__O1Wga>div {
    height: 100%
}

@media(min-width: 991.98px) {
    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK {
        grid-template-columns:repeat(6,1fr)
    }

    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK>div {
        grid-column: span 2
    }

    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK>div:first-child,.style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK>div:nth-child(2) {
        grid-column: span 3
    }
}

.style_section__K46ck {
    overflow: unset!important
}

.style_sectionContainer__oErws {
    position: relative
}

@media(min-width: 991.98px) {
    .style_sectionContainer__oErws .style_desc___bTux {
        letter-spacing:0
    }
}

@media(max-width: 991.98px) {
    .style_sectionContainer__oErws .style_desc___bTux {
        font-weight:700;
        font-size: calc(var(--1)*18);
        letter-spacing: calc(var(--1)*.36)
    }

    .style_sectionContainer__oErws {
        text-align: center
    }
}

.style_sectionContainer__oErws .style_btns__eS32b {
    display: flex;
    gap: calc(var(--1)*20);
    margin-top: calc(var(--1)*40)
}

@media(min-width: 991.98px) {
    .style_sectionContainer__oErws .style_btns__eS32b {
        margin-top:calc(var(--1)*80)
    }
}

@media(max-width: 991.98px) {
    .style_sectionContainer__oErws .style_btns__eS32b {
        justify-content:center
    }

    .style_sectionContainer__oErws .style_cube__p2p8S {
        width: calc(var(--1)*245);
        height: calc(var(--1)*245);
        margin-inline:auto;margin-bottom: calc(var(--1)*40);
        transform: rotate(33deg)
    }
}

@media(min-width: 991.98px) {
    .style_sectionContainer__oErws .style_cube__p2p8S {
        width:calc(var(--1)*245);
        height: calc(var(--1)*245);
        position: absolute;
        top: 0;
        right: calc(var(--1)*100);
        transform: translateY(-80%) rotate(-16deg)
    }
}
