.style_presaleislive__eIxJ1 {
    --1: min(0.09vw,0.09vh,1.7px);
    display: flex;
    border-radius: calc(var(--1)*20);
    margin-inline:auto;position: absolute;
    left: 50%;
    bottom: calc(var(--1)*70);
    transition: .5s ease-in-out;
    background: hsla(0,0%,100%,.071);
    clip-path: polygon(50% 0,50% 0,50% 100%,50% 100%);
    transition: clip-path .5s ease-in-out;
    z-index: 9;
    pointer-events: none;
    min-width: -moz-max-content;
    min-width: max-content
}

@media(max-width: 991.98px) {
    .style_presaleislive__eIxJ1 {
        --1:min(0.25vw,0.12svh,1.7px)
    }
}

@media(min-width: 991.98px) {
    .style_presaleislive__eIxJ1 {
        -webkit-backdrop-filter:blur(calc(var(--1) * 2));
        backdrop-filter: blur(calc(var(--1) * 2))
    }
}

@media(max-width: 991.98px) {
    .style_presaleislive__eIxJ1 {
        bottom:calc(var(--1)*55);
        background: rgba(3,13,67,.133)
    }
}

.style_presaleislive__eIxJ1 .style_button__29T4g {
    min-width: -moz-max-content;
    min-width: max-content
}

@media(max-width: 991.98px) {
    .style_presaleislive__eIxJ1 .style_button__29T4g {
        font-size:calc(var(--1)*16)
    }
}

.style_presaleislive__eIxJ1.style_active__loAw8 {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    pointer-events: unset;
    transition: clip-path .5s ease-in-out .5s
}

@media(min-width: 991.98px) {
    .style_presaleislive__eIxJ1 {
        padding:calc(var(--1)*12) calc(var(--1)*12) calc(var(--1)*12) calc(var(--1)*24);
        justify-content: space-between;
        align-items: center;
        gap: calc(var(--1)*20);
        min-width: -moz-max-content;
        min-width: max-content;
        transform: translateX(-50%)
    }

    .style_presaleislive__eIxJ1 .style_logos__QPJFB {
        display: flex;
        position: relative;
        padding-inline:calc(var(--1)*20)}

    .style_presaleislive__eIxJ1 .style_logos__QPJFB: before {
        left:0
    }

    .style_presaleislive__eIxJ1 .style_logos__QPJFB:after,.style_presaleislive__eIxJ1 .style_logos__QPJFB:before {
        content: "";
        position: absolute;
        top: 50%;
        height: calc(var(--1)*42);
        width: 1px;
        transform: translateY(-50%);
        background-color: rgba(0,148,255,.16)
    }

    .style_presaleislive__eIxJ1 .style_logos__QPJFB:after {
        right: 0
    }
}

@media(max-width: 991.98px) {
    .style_presaleislive__eIxJ1 {
        padding:calc(var(--1)*16);
        min-width: 90vw;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: calc(var(--1)*12);
        transform: translateX(-50%)
    }

    .style_presaleislive__eIxJ1 .style_logos__QPJFB {
        order: 3;
        min-width: 100%;
        width: 100%
    }
}

.style_presaleislive__eIxJ1 .style_presale__5KDjs {
    color: var(--white);
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    transform: translateY(calc(var(--1) * 3));
    position: relative;
    padding-left: calc(var(--1)*12);
    min-width: -moz-max-content;
    min-width: max-content
}

.style_presaleislive__eIxJ1 .style_presale__5KDjs span {
    color: #3af262
}

@media(min-width: 991.98px) {
    .style_presaleislive__eIxJ1 .style_presale__5KDjs {
        font-size:calc(var(--1)*32)
    }
}

@media(max-width: 991.98px) {
    .style_presaleislive__eIxJ1 .style_presale__5KDjs {
        font-size:calc(var(--1)*32)
    }
}

.style_presaleislivesec___JlEo {
    --1: min(0.09vw,0.09vh,1.7px);
    display: flex;
    border-radius: calc(var(--1)*20);
    margin-inline:auto;position: absolute;
    left: 50%;
    bottom: calc(var(--1)*110);
    clip-path: polygon(50% 0,50% 0,50% 100%,50% 100%);
    transition: clip-path .2s ease-in-out,transform .2s ease-in-out;
    z-index: 9;
    pointer-events: none
}

@media(max-width: 991.98px) {
    .style_presaleislivesec___JlEo {
        --1:min(0.25vw,0.12svh,1.7px);
        bottom: calc(var(--1)*80)
    }
}

.style_presaleislivesec___JlEo.style_active__loAw8 {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    pointer-events: unset;
    transition: clip-path .5s ease-in-out .5s
}

@media(min-width: 991.98px) {
    .style_presaleislivesec___JlEo {
        padding:calc(var(--1)*12) calc(var(--1)*12) calc(var(--1)*12) calc(var(--1)*24);
        justify-content: space-between;
        align-items: center;
        gap: calc(var(--1)*20);
        min-width: -moz-max-content;
        min-width: max-content;
        transform: translateX(-100%)
    }

    .style_presaleislivesec___JlEo.style_active__loAw8 {
        transform: translateX(-50%)
    }
}

@media(max-width: 991.98px) {
    .style_presaleislivesec___JlEo {
        padding:calc(var(--1)*16);
        min-width: 90vw;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: calc(var(--1)*12);
        transform: translateX(-50%)
    }
}

.style_presaleislivesec___JlEo .style_presale__5KDjs {
    color: var(--dark);
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    transform: translateY(calc(var(--1) * 5));
    position: relative;
    min-width: -moz-max-content;
    min-width: max-content
}

@media(min-width: 991.98px) {
    .style_presaleislivesec___JlEo .style_presale__5KDjs {
        font-size:calc(var(--1)*32)
    }
}

@media(max-width: 991.98px) {
    .style_presaleislivesec___JlEo .style_presale__5KDjs {
        font-size:calc(var(--1)*24);
        text-align: center;
        margin-inline:auto}
}
